@model CodingEventsDemo.ViewModels.AddEventViewModel;

<h1>Add Event</h1>

<form asp-controller="Events" asp-action="NewEvent" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
    </div>
    <div class="form-group">
        <label asp-for="Type">Event Type</label>
        <select asp-for="Type" asp-items="Model.EventTypes"></select>
    </div>
    <input type="submit" value="Add Event" />
</form>
