<h1>Add Event</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" />
    </div>
    <input type="submit" value="Add Event" />
</form>
